# Core Dependencies
streamlit==1.41.1
streamlit-webrtc==0.47.9

# Google Cloud APIs
google-api-core==2.24.0
google-auth==2.38.0
google-cloud-speech==2.30.0
google-cloud-texttospeech==2.24.0
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0

# Hugging Face Integration
requests==2.31.0

# Audio Processing
sounddevice==0.4.6

# Miscellaneous
tenacity==9.0.0
protobuf==5.29.3
